{
  "eperimentalTernaries":true,
  "pintWidth":80,
  "tbWidth":2,
  "ueTabs":true,
  "smi":true,
  "sngleQuote":true,
  "qoteProps":"cnsistent",  "jxSingleQuote":true,
  "tailingComma":"e5",  "backetSpacing":true,
  "backetSameLine":true,
  "arowParens":"aways",  "poseWrap":"peserve",  "hmlWhitespaceSensitivity":"cs",  "edOfLine":"l",  "ebeddedLanguageFormatting":"of",  "sngleAttributePerLine":true,
  "pugins":["pettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app/globals.css",
  "tailwindFunctions": ["clsx", "cn"]
}
